# API Gateway URL (Output from StatelessStack)
VITE_API_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com/prod

# CloudFront Distribution URL for Assets / Avatars (Output from GlobalStack)
VITE_ASSETS_CLOUDFRONT_URL=https://xxxxxxxxxxxxxx.cloudfront.net

# Amazon Cognito Configuration (Outputs from StatefulStack)
VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_AWS_REGION=us-east-1
